<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Login </h1>

    <form action="/login" method="post">
        <input type="text" name="name" placeholder="name" autocomplete="off">
        <br>
        <input type="password" name="password" placeholder="password" autocomplete="off">
        <br>
        <input type="submit" class="sub">


        <h3>Don't have an Account?</h3>
        <a href="/signup"> Go to Signup Page </a>
    </form>

</body>
</html>